In [2]:
#cell below will show input in python
name = input("Enter your name: ")

In [3]:
print(name)

Pushpak Jaiswal

In [2]:
roll_no = input("Enter your Roll no: ")

In [3]:
print(roll_no)
print(type(roll_no))

65
<class 'str'>

In [7]:
option = input("Enter true of false")

In [8]:
print(option)
print(type(option))

True
<class 'str'>

In [4]:
#Cells below will now add typecasting to the notebook

name = input("Enter your name : ")
print(name)
print(type(name))

age = int(input("Enter you age: ")) #this show typecasting
print(age)
print(type(age))

Pushpak Jaiwal
<class 'str'>
65
<class 'int'>

In [5]:
name = input("Enter your name : ")

roll_no = int(input("Enter your roll no.: "))

is_Student = bool(input("Enter True or False :"))

print(name,roll_no,is_Student,sep="->")

print(type(name),type(roll_no),type(is_Student),sep="->")

Pushpak Jaiwal->65->True
<class 'str'>-><class 'int'>-><class 'bool'>

In [6]:
#Program to Sum 2 numbers

number1 = float(input("Enter a number1 : "))
number2 = float(input("Enter a number2 : "))

print(number1+number2)

14.0

In [7]:
# + Addition
# = Substraction
# * Multiplication
# / Division
# % Modulus
# ** Exponential
# // Floor Division

'''This is Arithmetic Operators in python'''

'This is Arithmetic Operators in python'

In [9]:
# Showing Arithmetic Operators in python

#Addition
print("Sum : ",4+3)

#Substraction
print("Difference : ",4-3)

#Multiplication
print("Product : ",4*3)

#Division
print("Division : ",4/3)

#Floor Division
print("Division : ",4//3)

#Remainder
print("Remainder : ",4%3)

#Exponentiation
print("Exponentiation : ",4**3)

Sum :  7
Difference :  1
Product :  12
Division :  1.3333333333333333
Division :  1
Remainder :  1
Exponentiation :  64

In [11]:
#Assignment Operators

n1 = 5
n2 = n1 # Assignment =
print(n1,n2)

n2 +=n1 
print(n1,n2)

n2 -=n1
print(n1,n2)

n2 *=n1
print(n1,n2)

n2 /=n1
print(n1,n2)

n2 %= n1
print(n1,n2) 

n2 //= n1
print(n1,n2) 

n2**=n1
print(n1,n2)

5 5
5 10
5 5
5 25
5 5.0
5 0.0
5 0.0
5 0.0

In [12]:
#Comparison Operators
#   ==  Equal
#   !=  Not Equal
#   >   Greater than
#   <   Less than
#   >=  Greaters than or equal to
#   <= Less than or equal to

In [13]:
#Comparison Operators
n1 =4
n2 =3

print(n1>n2)

print(n1<n2)

print(n1==n2)

print(n1!=n2)

print(n1>=n2)

print(n1<=n2)

True
False
False
True
True
False

In [14]:
#Logical Operators
#   and     Returns True if both statements are true
#   or      Returns True if one of the  Statements is true
#   not     Reverse the result,returns False if the Result is true

In [15]:
#Logical Operators
exp1 = 2>1
exp2 = 5<4

print("exp1 and exp2 : ",exp1 and exp2)

print("exp1 or exp2 : ",exp1 or exp2)

print("Not exp1 : ",not(exp1))

print("Not exp2 : ",not(exp2))

exp1 and exp2 :  False
exp1 or exp2 :  True
Not exp1 :  False
Not exp2 :  True

In [16]:
# Identity Operators
# is        Returns True if both variables are the same object
# is not    Returns True if both variables are not the same object

In [17]:
#Identity Operators
x=5
y=5
print("if x is y : ",x is y) 

print("if x is not y: ", x is not y)

if x is y :  True
if x is not y:  False

In [18]:
# Membership Operators
# in          Returns True is a sequence with the specified value is present in the object
# not in      Returns True if a sequence with the specified value is not present in the object

In [19]:
#Membership Operators
fruits = ["apple","banana","cherry"]

print("if banana is present in fruits: ","banana" in fruits)

print("if mango is not present in fruits : ","mango"not in fruits)

if banana is present in fruits:  True
if mango is not present in fruits :  True

In [20]:
#Bitwise Operators
# &       and
# |       or
# ^       xor
# ~       not
# <<      zero fill left shift
# >>      signed right shift

In [21]:
#Bitwise Operators
a =5
b =3

print("a & b : ",a&b)

print("a or b: ",a|b)

print("a xor b: ",a^b)

a & b :  1
a or b:  7
a xor b:  6

In [22]:
#Calculation Volume of a sphere
radius = float(input("Enter radius of sphere"))

volume = 4/3*3.14*(radius**3)

print("Volume of sphere of radius ",radius," is : ",volume)

Volume of sphere of radius  6.9  is :  1375.3576800000003

In [23]:
# Operator Precedence
# Highest -> lowest

# () 
# **
# /,//,%
# *
# +,-
# >>,<<
# &,|,^
# ==,!=,>,<

In [24]:
#type() function is used to know the datatype of a variable

In [26]:
#Typecasting
a =2
b =3
c =5

a_str = str(a)
b_str = str(b)
c_str = str(c)

final_string = a_str + b_str + c_str

final_int = int(final_string) 

print("Final int : ",final_int,type(final_int))

Final int :  235 <class 'int'>

In [28]:
#write a program to convert temperature from celsius to faharenheit
cel = float(input("Enter temperature Celsius"))

fah = cel * (9/5)+32

print("Fahrenheit : ",fah)

Fahrenheit :  68.0